/* 1. Theme default css */

body {
  font-family: $font_1;
  font-weight: normal;
  font-style: normal;
  font-size: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font_1;
  color: $dark;

  margin-top: 0px;
  font-style: normal;
  font-weight: 500;
  text-transform: normal;
}
p {
  font-family: $font_1;
  color: $grey;

  font-size: 16px;
  line-height: 30px;
  margin-bottom: 15px;
  font-weight: normal;
}
main {
  max-width: 1192px;
  width: 100%;
}
